{{ define "main" }}
<h1>{{ .Page.Title }}</h1>
{{ .Content }}

{{ $sections := where .Pages "Kind" "section" }}
{{ $directPages := where .Pages "Kind" "page" }}

{{ if $sections }}
{{ with $directPages }}
<div class="image-grid">
    {{ range sort . "Date" "desc" }}
    {{ if and (isset .Params "image") .Params.image }}
    <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
        {{ $thumb := .Resize "400x" }}
        <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
    </a>
    {{ end }}
    {{ end }}
</div>
{{ end }}

{{ range sort $sections "Title" }}
<h2>{{ .Title }}</h2>
<div class="image-grid">
    {{ range sort .RegularPagesRecursive "Date" "desc" }}
    {{ if and (isset .Params "image") .Params.image }}
    <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
        {{ $thumb := .Resize "400x" }}
        <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
    </a>
    {{ end }}
    {{ end }}
</div>
<a href="{{ .Permalink }}" class="btn btn-primary btn-block">more {{ lower .Title }}</a>
{{ end }}
{{ else }}
<div class="image-grid">
    {{ range sort .RegularPagesRecursive "Date" "desc" }}
    {{ if and (isset .Params "image") .Params.image }}
    <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
        {{ $thumb := .Resize "400x" }}
        <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
    </a>
    {{ end }}
    {{ end }}
</div>
{{ end }}
{{ end }}
