{{ define "main" }}
<div class="row">
  <div class="col-4">
    <table>
      <caption>{{ .Title }}</caption>

      {{ with .Resources.GetMatch .Params.image }}
      <tr>
        <td colspan="2"><img src="{{ .RelPermalink }}" alt="{{ $.Title }} cover"></td>
      </tr>
      {{ end }}

      {{ with .GetTerms "people" }}
      <tr>
        <th scope="row">Author(s)</th>
        <td>
          {{ range $index, $people := . }}{{ if $index }}, {{ end }}<a href="{{ $people.RelPermalink }}">{{
            $people.LinkTitle }}</a>{{ end }}
        </td>
      </tr>
      {{ else }}
      {{ with .Params.people }}
      <tr>
        <th scope="row">Author(s)</th>
        <td>{{ delimit . ", " }}</td>
      </tr>
      {{ end }}
      {{ end }}
      {{ with .Params.series }}
      <tr>
        <th scope="row">Series</th>
        <td>{{ . }}</td>
      </tr>
      {{ end }}
      <tr>
        <th scope="row">Publisher</th>
        <td>{{ .Params.publisher }}</td>
      </tr>
      <tr>
        <th scope="row">Publication Date</th>
        <td>{{ with .Params.published }}{{ . | time.Format ":date_medium" }}{{ end }}</td>
      </tr>
      <tr>
        <th scope="row">ISBN</th>
        <td>{{ .Params.isbn }}</td>
      </tr>

      <tr>
        <th scope="row">Genres</th>
        <td>
          {{ with .GetTerms "categories" }}
          {{ range $index, $category := . }}{{ if $index }}, {{ end }}<a href="{{ $category.RelPermalink }}">{{
            $category.LinkTitle
            }}</a>{{ end }}
          {{ end }}
        </td>
      </tr>

      <tr>
        <th scope="row">Subgenres & Tropes</th>
        <td>
          {{ with .GetTerms "tags" }}
          {{ range $index, $tag := . }}{{ if $index }}, {{ end }}<a href="{{ $tag.RelPermalink }}">{{ $tag.LinkTitle
            }}</a>{{ end }}
          {{ end }}
        </td>
      </tr>

      <tr>
        <th scope="row">Started</th>
        <td>{{ with .Params.started }}{{ . | time.Format ":date_medium" }}{{ end }}</td>
      </tr>

      <tr>
        <th scope="row">Finished</th>
        <td>{{ with .Params.finished }}{{ . | time.Format ":date_medium" }}{{ end }}</td>
      </tr>

      <tr>
        <th scope="row">Rating</th>
        <td>{{ .Params.rating }}</td>
      </tr>

    </table>
  </div>
  <div class="col-8">
    {{ with .Params.description }}
    <div class="terminal-card">
      <header>Description</header>
      <div>
        {{ . | markdownify }}
      </div>
    </div>
    {{ end }}
    <hr>
    {{ .Content }}
  </div>
</div>

{{ end }}
